node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# protect key
config.js
ec463-sw-miniproj-firebase-adminsdk-4n2hz-7904bf671d.json



../a.txt
../a.txt.gpg
